h1{
    text-align: center;
    background-color: skyblue;
}
.GroBtn{
    margin-left: 438px;
}
table{
    background-color: yellowgreen;
    border: 4px solid black;
}
.mahi{
    text-align: center;
} 